<form method="post" action="{{ path('chantier_delete', {'id': chantier.id}) }}" onsubmit="return confirm('Êtes-vous sûr que vous souhaitez supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chantier.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
