{% extends 'base.html.twig' %}

{% block title %}Edit Chantier{% endblock %}

{% block body %}
    <h3>
        Modification chantier
         <div class="btn-group btn-right">
             <a class="btn mr-2" href="{{ path('chantier_index') }}">retour</a>
            {{ include('chantier/_delete_form.html.twig') }}
        
         <div>
         
      
    </h3>

    {{ include('chantier/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
