{% extends 'base.html.twig' %}

{% block title %}Chantier index{% endblock %}

{% block body %}
    <h3 class="mb-3">
            Chantier
            <a class="btn btn-primary btn-right" href="{{ path('chantier_new') }}">Nouveau enregistrement</a>
    </h3>
    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>NbPersonne</th>
                <th>heure total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chantier in chantiers %}
            <tr>
                <td>{{ chantier.id }}</td>
                <td>{{ chantier.nom }}</td>
                <td>{{ chantier.adresse }}</td>
                <td class="text-center">{{ chantier.personneCount }}</td>
                <td class="text-center">{{ chantier.heureTotal }} h</td>
        
                <td>
                    <a class="btn btn-secondary" href="{{ path('chantier_show', {'id': chantier.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('chantier_edit', {'id': chantier.id}) }}">Modfier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
