{% extends 'base.html.twig' %}

{% block title %}New Chantier{% endblock %}

{% block body %}
       <h3 class="mb-3">
            Créer nouveau chantier
            <a class="btn btn-primary btn-right"  href="{{ path('chantier_index') }}">retour</a>
    </h3>
  
    {{ include('chantier/_form.html.twig') }}
{% endblock %}
