{% extends 'base.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block body %}
    <h3>Détail chantier

        <div class="btn-group btn-right">
             <a class="btn mr-2" href="{{ path('chantier_index') }}">retour</a>
            <a class="btn mr-2 " href="{{ path('chantier_edit', {'id': chantier.id}) }}">Modifier</a>
            {{ include('chantier/_delete_form.html.twig') }}
  
         <div>
    
    </h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chantier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chantier.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ chantier.adresse }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ chantier.dateDebut ? chantier.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>durée total</th>
                <td>{{ chantier.heureTotal }} h</td>
            </tr>
            <tr>
                <th>Personne total</th>
                <td>{{ chantier.personneCount }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
