<form method="post" action="{{ path('pointage_delete', {'id': pointage.id}) }}" onsubmit="return confirm(Êtes-vous sûr que vous souhaitez supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pointage.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
