{{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.duree) }}
    {{ form_row(form.utilisateur, { 'attr': {'required': ''}}) }}
    {{ form_row(form.chantier, { 'attr': {'required': ''}}) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
