{% extends 'base.html.twig' %}

{% block title %}Edit Pointage{% endblock %}

{% block body %}
    <h3>
        Modification Pointage
         <div class="btn-group btn-right">
             <a class="btn mr-2" href="{{ path('pointage_index') }}">retour</a>
            {{ include('pointage/_delete_form.html.twig') }}
        
         <div>
    </h3>
     {% if (error != '') %}
        <div class="alert alert-danger text-center" role="alert">
             {{error}}
        </div>
    {% endif %}
    {{ include('pointage/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
