{% extends 'base.html.twig' %}

{% block title %}Pointage index{% endblock %}

{% block body %}
     <h3 class="mb-3">
            Pointage
            <a class="btn btn-primary btn-right" href="{{ path('pointage_new') }}">Nouveau Pointage</a>
    </h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Duree</th>
                <th>Utilisateur</th>
                <th>Chantier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pointage in pointages %}
            <tr>
                <td>{{ pointage.id }}</td>
                <td>{{ pointage.date ? pointage.date|date('Y-m-d') : '' }}</td>
                <td>{{ pointage.duree }}h</td>
                <td><a href="{{ path('utilisateur_show', {'id': pointage.utilisateur.id}) }}">{{ pointage.utilisateur }}</a></td>
                <td><a  href="{{ path('chantier_show', {'id': pointage.chantier.id}) }}">{{ pointage.chantier }}</a></td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('pointage_show', {'id': pointage.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('pointage_edit', {'id': pointage.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
