{% extends 'base.html.twig' %}


{% block body %}
   <h3 class="mb-3">
            Créer nouveau Pointage
            <a class="btn btn-primary btn-right"  href="{{ path('pointage_index') }}">retour</a>
    </h3>
    {% if (error != '') %}
        <div class="alert alert-danger text-center" role="alert">
             {{error}}
        </div>
    {% endif %}
   


    {{ include('pointage/_form.html.twig') }}

{% endblock %}
