{% extends 'base.html.twig' %}

{% block title %}Pointage{% endblock %}

{% block body %}

    <h3>Détail Pointage

        <div class="btn-group btn-right">
             <a class="btn mr-2" href="{{ path('pointage_index') }}">retour</a>
            <a class="btn mr-2 " href="{{ path('pointage_edit', {'id': pointage.id}) }}">Modifier</a>
            {{ include('pointage/_delete_form.html.twig') }}
  
         <div>
    
    </h3>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pointage.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ pointage.date ? pointage.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ pointage.duree }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
