{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
    <h3>
        Modification Utilisateur
         <div class="btn-group btn-right">
             <a class="btn mr-2" href="{{ path('utilisateur_index') }}">retour</a>
            {{ include('utilisateur/_delete_form.html.twig') }}
        
         <div>
         
      
    </h3>

    {{ include('utilisateur/_form.html.twig', {'button_label': 'Modifier'}) }}

 
{% endblock %}
