{% extends 'base.html.twig' %}



{% block body %}
    <h3 class="mb-3">
            Utilisateur
            <a class="btn btn-primary btn-right" href="{{ path('utilisateur_new') }}">Nouveau enregistrement</a>
    </h3>
    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Matricule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.matricule }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
