{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <h3 class="mb-3">
            Créer nouveau utilisateur
            <a class="btn btn-primary btn-right"  href="{{ path('utilisateur_index') }}">retour</a>
    </h3>

    {{ include('utilisateur/_form.html.twig') }}


{% endblock %}
