{% extends 'base.html.twig' %}


{% block body %}
    <h3>Utilisateur

        <div class="btn-group btn-right">
             <a class="btn mr-2" href="{{ path('utilisateur_index') }}">retour</a>
            <a class="btn mr-2 " href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">Modifier</a>
            {{ include('utilisateur/_delete_form.html.twig') }}
  
         <div>
    
    </h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ utilisateur.matricule }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
