<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gestion chantier{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bootstrap.css') }}" rel="stylesheet">
            <link href="{{ asset('style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="text-center"> Gestion du chantier</h1>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/utilisateur">Utilisateur</a></li>
                        <li class="list-group-item"><a href="/chantier">Chantier</a></li>
                        <li class="list-group-item"><a href="/pointage">Pointage</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
